---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Varela Round', Helvetica, Arial, sans-serif;
$base-font-size:   15px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;
$accent-color-purple: #fd1753;
$accent-color-green: #84cc53;
$accent-color-blue: #6c9bbc;

$grey-color:       #434343;
$grey-color-lighter: #666;
$grey-color-light: #929292;
$grey-color-dark:  darken($grey-color, 25%);


// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "responsive",
        "animate",
        "syntax-highlighting"
;
