---
layout: default
title: Brand Identity - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---
<div class="services_page bi_page padding_left">

  {% include header.html %}

  <!-- Left Area -->
  <div class="left_area fadeInRight">
    <a href="http://thenordicland.io" class="logo">
      <img src="images/logo_white.png" class="whole" tilte="" alt="Thenordicland Logo" />
      <img src="images/logo_half_purple.png" class="half" tilte="" alt="Thenordicland Logo" />
    </a>

    <div class="side_menu">
      <h2>My Services</h2>
      <ul>
        <li class="current bi_li"><a href="brand_identity.html">Brand Identity</a></li>
        <li class="dux_li"><a href="design_and_ux.html">Design &amp; User Experience</a></li>
        <li class="web_li"><a href="web_development.html">Web Development &amp; CMS</a></li>
      </ul> 
    </div>

    <div class="ie_opacity"></div>
  </div>
  <!-- Left Area End -->

  <!-- Content -->
  <div class="content">

    <div class="padding_top right_content">
      <img src="images/bi_icon_purple.gif" class="icon" alt="Brand Identity - Thenordicland" tilte="" />
      <h1>Brand Identity</h1>
      <p>Having a nicely done brand always makes people interested in your service. I can help you to create your branding starting by creating the colour scheme you lake, creating the logo and after this setting up your stationary - letterheads, bussines cards etc. After you have your branding done you are ready to go to create a web site.</p>

      <ul class="services_count">
        <li><img src="images/tick.png" alt="Logo Design - Thenordicland" tilte="" /> 
      <span>Logo Design</span></li>
        <li><img src="images/tick.png" alt="Business Cards - Thenordicland" tilte="" /> 
      <span>Business Cards</span></li>
        <li><img src="images/tick.png" alt="Letterheads - Thenordicland" tilte="" /> 
      <span>Letterheads</span></li>
      </ul>

    </div>

  </div>
  <!-- Content End -->

  <!-- Projects -->
  <div class="projects">
    <div class="clear">
      <img src="images/project_3.jpg" class="p_one" title="" alt="Logo Design Project - Thenordicland" />
      <img src="images/project_2.jpg" class="p_two" title="" alt="Business Cards Project - Thenordicland"  />
    </div>
    <img src="images/project_1.jpg" class="p_three" title="" alt="Letterhead Project - Thenordicland"  />
  </div>
  <!-- Projects End -->

  <!-- Testimonials -->
  <div class="testimonials">
    <blockquote><p>Over the last couple of months I have been working with Deni on a number of web projects. I can very highly recommend his services. He also has great attention to detail. He is very accurate designer and will get a design the way you want it.</p><footer>- Rinalds Mucenieks, Rento Design</footer></blockquote>
  </div>
  <!-- Testimonials End -->

  <!-- Interested -->
  <div class="interested">
    <h3>Interested in Brand Identity?</h3>
    <a href="/hire_me.html" class="button purple big">Hire me</a>
  </div>
  <!-- Interested End -->

  {% include footer.html %}

</div>