---
layout: default
title: Design and User Experience - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---

<div class="services_page dux_page padding_left">

  {% include header.html %}

  <!-- Left Area -->
  <div class="left_area">
    <a href="http://thenordicland.io" class="logo">
      <img src="/images/logo_white.png" class="whole" tilte="" alt="Thenordicland Logo" />
      <img src="/images/logo_half_purple.png" class="half" tilte="" alt="Thenordicland Logo" />
    </a>

    <div class="side_menu">
      <h2>My Services</h2>
      <ul>
        <li class="bi_li"><a href="brand_identity.html">Brand Identity</a></li>
        <li class="current dux_li"><a href="design_and_ux.html">Design &amp; User Experience</a></li>
        <li class="web_li"><a href="web_development.html">Web Development &amp; CMS</a></li>
      </ul> 
    </div>
    
    <div class="ie_opacity"></div>
  </div>
  <!-- Left Area End -->

  <!-- Content -->
  <div class="content">
    <div class="padding_top dux right_content">
      <img src="images/dux_icon_purple.gif" class="icon" />
      <h1>Design &amp; User Experience</h1>
      <p>I can help you to design and think through the best practices of "How my web site can work better and be more user friendly". It is not needed, however, we can start with "Wireframing" the thoughts you have and creating a raw sketch. After having the wireframes, the functionality, the interactions and the experience ready, we can begin with the design.</p>

      <ul class="services_count">
        <li><img src="images/tick.png" alt="Wireframing - Thenordicland" title="" /> 
      <span>Wireframing</span></li>
        <li><img src="images/tick.png" alt="User Experience - Thenordicland" title="" /> 
      <span>User Experience</span></li>
        <li><img src="images/tick.png" alt="Web Design - Thenordicland" title="" /> 
      <span>Web Design</span></li>
      </ul>

    </div>
  </div>
  <!-- Content End -->

  <!-- Examples Projects -->
  <div class="examples_projects">
    <img src="images/dux_1.png" class="p_one" alt="Desktop Design - Thenordicland" title="" />
    <div class="centralized">
      <img src="images/dux_2.jpg" class="p_two" alt="Tablets (Responsive) Design - Thenordicland" title="" />
      <img src="images/dux_3.jpg" class="p_three" alt="Mobile (Responsive) Design - Thenordicland" title="" />
    </div>

    <p class="centralized">Having your website designed for various devices, gives a better experience to everyone who will use it. Nowadays the responsive design is necessary due to the number of people that use smartphones and tablets to browse the web. Furthermore, responsive web sites are also better ranked in Google. 
    <a href="">Check out responsive projects --></a></p>
  </div>
  <!-- Examples Projects End -->

  <!-- Testimonials -->
  <div class="testimonials">
    <blockquote><p>Over the last couple of months I have been working with Deni on a number of web projects. I can very highly recommend his services. He also has great attention to detail. He is very accurate designer and will get a design the way you want it.</p><footer>- Rinalds Mucenieks, Rento Design</footer></blockquote>
  </div>
  <!-- Testimonials End -->

  <!-- Interested -->
  <div class="interested">
    <h3>Interested in Design &amp; User Experience?</h3>
    <a href="/hire_me.html" class="button purple big">Hire me</a>
  </div>
  <!-- Interested End -->

  {% include footer.html %}
  
</div>