---
layout: default
title: Work with me - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---

<div class="hire_me_page top_header_page">

  {% include header.html %}

  <div class="top_area">
    <h1>Ready to Talk?</h1>
    <div class="ie_opacity"></div>
  </div>

  <!-- Content -->
  <div class="content">

    <!-- Centralized -->
    <div class="centralized">
      <form id="contactForm" name="contactForm" action="sendemail.php" method="post">
        <!-- Fields -->
        <div class="fields">
          <div class="field to_about active">
            <div class="right">
              <div class="dropdown">
                <select name="service">
                  <option value="1">Interested in...</option>
                  <option value="Web Development &amp; CMS">Web Development &amp; CMS</option>
                  <option value="Design &amp; UX">Design &amp; UX</option>
                  <option value="Brand Identity">Brand Identity</option>
                  <option value="Complimentary Website Evaluation Report'">Website Evaluation Report</option>
                  <option value="I just want to say 'Hi!'">I want just to say "Hi!"</option>
                </select>
                <img src="images/arrow_down.gif" alt="Choose a service - Thenordicland" />
              </div>
            </div>
          </div>
          <div class="field info_block to_name">
            <div class="right">
              <label>Name</label>
              <input type="text" id="name" name="name" />
            </div>
          </div>
          <div class="field info_block to_email">
            <div class="right">
              <label>Email</label>
              <input type="email" id="email" name="email" />
            </div>
          </div>
          <div class="field info_block to_phone">        
            <div class="right">
              <label>Phone</label>
              <input type="text" id="phone" name="phone" />
            </div>
          </div>
          <div class="field info_block">
            <div class="right">
              <label class="movie">Website</label>
              <input type="text" id="movie" name="movie" />
            </div>
          </div>
          <div class="textarea info_block to_message">
            <div class="right">
              <textarea placeholder="Write your message here" id="message" name="message"></textarea>
            </div>
          </div>
        </div>
        <!-- Fields End -->

        <button type="submit" id="validate" class="button big purple">Submit your message</button>
      </form>

    </div>
    <!-- Centralized End -->

  </div>
  <!-- Content End -->

  {% include footer.html %}
  
</div>
