---
layout: default
title: Thenordicland - Web Design and Development Services - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---
<div class="home_page padding_left">

  {% include header.html %}

  <!-- Showcase -->
  <div class="showcase fadeInRight">
    <div class="cover_cont">
      <div class="titles_cont">
        <a href="#bi_section">Brand Identity</a>
        <a href="#ux_section">Design &amp; UX</a>
        <a href="#web_section">Web Development &amp; CMS</a>
      </div>
    </div>
    <video autoplay muted poster="{{ relative }}images/default_home.jpg" >
      <source src="images/video.mp4" type="video/mp4">
      <img src="{{ relative }}images/default_home.jpg" />
    </video>
  </div>
  <!-- Showcase End -->

  <!-- Left Area -->
  <div class="left_area fadeInRight">
    <div class="ie_opacity"></div>
    <a href="http://thenordicland.io" class="logo">
      <img src="images/logo_white.png" class="whole" tilte="" alt="Thenordicland Logo" />
      <img src="images/logo_half_grey.png" class="half" tilte="" alt="Thenordicland Logo" />
    </a> 
  </div>
  <!-- Left Area End -->

  <!-- Content -->
  <div class="content">

    <div class="padding_top right_content">
      <h1>Hello, my name is Deni. I design and develop websites for small and medium businesses</h1>
      <div class="services">
        <div class="service bi" id="bi_section">
          <div class="icon">
            <span></span>
            <img src="images/bi_icon.png" alt="Thenordicland, Mladen Gorchev - Brand Identity" />
          </div>
          <div class="right">
            <h2>Brand Identity</h2>
            <p>The branding is the colours, logos and everything visual that will describe your company. We will start by creating the colour scheme, selecting typography, creating your logo and more. The branding gives you a face and identity of your company in the media, internet and everywhere... <a href="brand_identity.html">More about this service -></a></p>
          </div>
        </div>
        <div class="service dux" id="ux_section">
          <div class="icon">
            <span></span>
            <img src="images/dux_icon.png" alt="Thenordicland, Mladen Gorchev - Design and User Experience" />
          </div>
          <div class="right">
            <h2>Design &amp; User Experience</h2>
            <p>Creating a web site is a good idea to show your customers what your services are. Through the design and the user experience (UX) of the web site, we can create a beautiful looking, user friendly and intuitive website that is fully responsive under mobile devices.  <a href="design_and_ux.html">More about this service -></a></p>
          </div>
        </div>
        <div class="service web" id="web_section">
          <div class="icon">
            <span></span>
            <img src="images/web_icon.png" alt="Thenordicland, Mladen Gorchev - Web Development and CMS" />
          </div>
          <div class="right" >
            <h2>Web Development &amp; CMS</h2>
            <p>Either you have or not an already designed website, I can help you by developing it. You can choose between a static website or dynamic website controlled through a CMS (Content Management System) that can help you update your content. I also provide PSD to HTML services. <a href="web_development.html">More about this service -></a></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- Content End -->

  <!-- About me -->
  <div class="about_me">
    <div class="center">
      <h2>Useful tips?</h2>
      <p>I'm writing from time to time articles about working abroad, traveling, development, design and more. If you are interested, feel free to visit my blog.</p>
      <a href="/blog.php" class="button big purple">Check my blog</a>
    </div>
  </div>
  <!-- About me End -->

  <!-- Centralized -->
  <div class="centralized block4">
    <div class="work_in_progress">
      <a href="https://www.behance.net/gorchev/wip" target="_blank" class="button medium blue">Work in Progress</a>
    </div>
    <div class="testimonials">
      <blockquote><p>Deni, is a fantastic Front End Developer who is not only great at coding but also has a real talent for design too. We worked with Deni for over two years during which time he proved to be extremely knowledgeable in his field and was always trying new exciting ideas to add impact to the user experience. In an ever evolving market full of average people it is rare to find someone with passion, desire, skill and humility. I will definitely be using Deni in the future for both personal and business projects.</p><footer>- Danny Hartigan</footer></blockquote>
    </div>
  </div>
  <!-- Centralized End -->

  {% include footer.html %}
  
</div>
