---
layout: default
title: My Work - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---

<div class="work_page top_header_page">

  {% include header.html %}

  <div class="top_area">
    <h1>My Work</h1>
    <div class="ie_opacity"></div>
  </div>

  <!-- Content -->
  <div class="content">

    <!-- Centralized -->
    <div class="centralized">
      <div class="my_work_projects">
        <div class="p_8 project">
          <a href="http://builtonruby.com" target="_blank" class="button blue medium">See Live</a>
          <img src="images/my_work/p_8.jpg" title="" alt="Built On Ruby - Thenordicland" />
        </div>
        <div class="p_7 project">
          <a href="http://expand-business.co.uk" target="_blank" class="button blue medium">See Live</a>
          <img src="images/my_work/p_7.jpg" title="" alt="Expand-Business - Thenordicland" />
        </div>
        <div class="p_6 project">
          <a href="http://cad2b.co.uk" target="_blank" class="button blue medium">See Live</a>
          <img src="images/my_work/p_6.jpg" title="" alt="CAD2B - Thenordicland" />
        </div>
        <div class="p_1 project">
          <a href="https://www.behance.net/gallery/22758379/Turek-Responsive-HTML-Template" target="_blank" class="button blue medium">See on Bēhance &amp; Download</a>
          <img src="images/my_work/p_1.jpg" title="" alt="Turek - Responsive HTML Template - Thenordicland" />
        </div>
        <div class="p_2 project">
          <a href="https://www.behance.net/gallery/22723871/Expand-We-help-your-business-grow" target="_blank" class="button blue medium">See on Bēhance</a>
          <img src="images/my_work/p_2.jpg" title="" alt="Expand-Knowledge - Responsive Web Site Design and Development - Thenordicland" />
        </div>
        <div class="p_3 project">
          <a href="https://www.behance.net/gallery/27539503/Bayley-Sage-Sample-Design" target="_blank" class="button blue medium">See on Bēhance</a>
          <img src="images/my_work/p_3.jpg" title="" alt="Design and User Experience - Thenordicland" />
        </div>
        <div class="p_4 project">
          <a href="https://www.behance.net/wip/1237115/2168509" target="_blank" class="button blue medium">See on Bēhance</a>
          <img src="images/my_work/p_4.jpg" title="" alt="Heggedal - Responsive HTML Template - Thenordicland" />
        </div>
        <div class="p_5 project">
          <!--<a href="" target="_blank" class="button blue medium">See on Bēhance</a>-->
          <img src="images/my_work/p_5.jpg"  title="" alt="Creative Londoners - Business Cards Design - Thenordicland" />
        </div>
      </div>
    </div>
    <!-- Centralized End -->

  </div>
  <!-- Content End -->

  <!-- Testimonials -->
  <div class="testimonials">
    <blockquote><p>Deni did a quite good job with our website. Our website was already online for many years and the design definitely needed a refresh. Now with the new design, we have more clients and we are very happy about this. Thank you!</p><footer>- Andy T.</footer></blockquote>
  </div>
  <!-- Testimonials End -->

  <!-- Interested -->
  <div class="interested">
    <h3>Interested in my work?</h3>
    <a href="/hire_me.html" class="button purple big">Hire me</a>
  </div>
  <!-- Testimonials End -->

  {% include footer.html %}
  
</div>
