---
layout: default
title: Thank You!
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
---

<div class="page404 top_header_page">
  {% include header-errors.html %}
  <div class="middle_it">
    <h2>Thank You! The email was sent successfully.</h2>
    <p>I will get back to you as soon as possible! Meanwhile, enjoy your day! (or night!)...</p>
  </div>
</div>