---
layout: default
title: Web Development and CMS - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---

<div class="services_page web_page padding_left">

  {% include header.html %}

  <!-- Left Area -->
  <div class="left_area">
    <a href="http://thenordicland.io" class="logo">
      <img src="/images/logo_white.png" class="whole" tilte="" alt="Thenordicland Logo" />
      <img src="/images/logo_half_purple.png" class="half" tilte="" alt="Thenordicland Logo" />
    </a>

    <div class="side_menu">
      <h2>My Services</h2>
      <ul>
        <li class="bi_li"><a href="brand_identity.html">Brand Identity</a></li>
        <li class="dux_li"><a href="design_and_ux.html">Design &amp; User Experience</a></li>
        <li class="current web_li"><a href="web_development.html">Web Development &amp; CMS</a></li>
      </ul> 
    </div>
    
    <div class="ie_opacity"></div>
  </div>
  <!-- Left Area End -->

  <!-- Content -->
  <div class="content">

    <div class="web padding_top right_content">
      <img src="images/web_icon_purple.gif" class="icon" />
      <h1>Web Development &amp; CMS</h1>
      <p>I can help you to develop your website in a way that will work best for you. You can choose between a static website or dynamic website (CMS) driven by WordPress or custom CMS. Having a dynamic website allows you to update the content on your own, through an admin area. I also provide PSD to HTML services if you just need quick slicing of your designs.</p>

      <ul class="services_count">
        <li><img src="images/tick.png" title="" alt="Web Development - Thenordicland" /> 
      <span>Web Development</span></li>
        <li><img src="images/tick.png" title="" alt="WordPress - Thenordicland" /> 
      <span>WordPress</span></li>
        <li><img src="images/tick.png" title="" alt="Custom CMS - Thenordicland" /> 
      <span>Custom CMS</span></li>
        <li><img src="images/tick.png" title="" alt="PSD to HTML - Thenordicland" /> 
      <span>PSD to HTML</span></li>
      </ul>

    </div>
  </div>
  <!-- Content End -->

  <!-- Example Projects -->
  <div class="examples_projects">
    <img src="images/web_1.png" class="p_one" title="" alt="Development - Thenordicland" />

    <div class="web_services centralized">
      <div class="web_s">
        <div class="top">
          <div class="icon web"><img src="images/web_icon.png" title="" alt="Web Development - Thenordicland" /></div>
          <h3>Web Development</h3>
        </div>
        <p>Developing your website is the next step after you have the design done. Here we will make your design "alive" and fully functioning. After the development is done, we will pick up a suitable domain name for your site and hosting, so people can see it.</p>
      </div>
      <div class="web_s two">
        <div class="top">
          <div class="icon wp"><img src="images/wp_icon.png" title="" alt="WordPress - Thenordicland" /></div>
          <h3>WordPress</h3>
        </div>
        <p>Content Management System, this is what WordPress can be used for and what I can offer you. WordPress is used by really many people and developers around the world and is very easy CMS to work with. Having your website built on WordPress, will definitely give you a basic knowledge of WordPress and in the future if you decide that my services are crap (hope not :D), at least you will have an experience and find easily another developer...</p>
      </div>
      <div class="web_s three">
        <div class="top">
          <div class="icon customcms"><img src="images/custom_cms_icon.png" title="" alt="Custom CMS - Thenordicland" /></div>
          <h3>Custom CMS</h3>
        </div>
        <p>The custom CMS has been built on RubyOnRails (RoR)... You don't really need to know that, however I wanted to mention it. It is tailored specifically for your needs and it's even easier to work with than WordPress, due to the fact that I built it from scratch and adjust it depending on the project I'm working on. It is definitely a good choice but also a bit more expensive because of the server maintenance.</p>
      </div>
      <div class="web_s four">
        <div class="top">
          <div class="icon psdhtml"><img src="images/psdhtml_icon.png" title="" alt="PSD to HTML - Thenordicland" /></div>
          <h3>PSD to HTML</h3>
        </div>
        <p>I provide also PSD to HTML services, which means, if you have designed your web site and you have the Photoshop files (PSD) I can transform them to HTML, CSS and also, if needed, responsive as well.</p>
      </div>
    </div>
  </div>
  <!-- Example Projects End -->

  <!-- Testimonials -->
  <div class="testimonials">
    <blockquote><p>Deni has been highly approachable, personable and professional when dealing with myself and our website project. His creative talents and ability to quickly respond to new challenges make him an invaluable business companion in the world of IT. Without hesitation, I would recommend Deni, his graphic design and web development services, to prospective clients and peers looking to develop a more cohesive image for their business and projects online.</p><footer>- Roman Skok, Design &amp; Make</footer></blockquote>
  </div>
  <!-- Testimonials End -->

  <!-- Interested -->
  <div class="interested">
    <h3>Interested in Web Development &amp; CMS?</h3>
    <a href="/hire_me.html" class="button purple big">Hire me</a>
  </div>
  <!-- Interested End -->

  {% include footer.html %}

</div>
