---
layout: default
title: Work with me - Thenordicland - Deni Gorchev
description: Hi, I'm Deni and I provide freelance web development, design and brand identity services. I can help you with your next great project, whether is small or big, to succeed on-line.
keywords: web design, design, user experience, web development, brand identity, brand, ruby on rails, wordpress, cms, content management system, logo design, business cards, letterheads, psd to html, wireframes, london, paris, warsaw, europe, america, thenordicland, mladen gorchev, deni gorchev
---

<div class="report_page top_header_page">

  {% include header.html %}

  <div class="top_area">
    <h1>Complimentary Website Evaluation Report</h1>
    <div class="ie_opacity"></div>
  </div>

  <!-- Content -->
  <div class="content">

    <!-- Centralized -->
    <div class="centralized">
      <p>Website development is our passion. We combine great design with online marketing strategy. We carefully think through your brand positioning, differentiation, lead generation and conversion strategy and come up with the optimal solution how the users interacts with your website.
      Our design and marketing strategy will change the way you drive traffic, convert visitors to leads and leads to clients.</p>
      <div class="about_us_info">
        <div class="left">
          <img src="images/logo_black_whole.png" />
          <p>At Thenordicland we design and develop websites for small and medium businesses. We specialise in brand identity, creative design, user experience, web design and development, CMS and responsive design.</p>
          <p>Through partnership with Expand-Business we not only deliver aesthetic value but also marketing focused strategy that will help you to achieve your business goals.</p>
          <p>Our job is to create contemporary, stunning design and combine it with great functionality.</p>
        </div>
        <div class="right">
          <img src="images/expand_logo.jpg" />
          <p>Expand-Business offers marketing, business development, and account management services. </p>
          <p>We specialise in lead generation (cold calling, email marketing campaigns), networking, creating successful sales pitch and improving your conversion rates. 
          <p>We take care of your marketing strategy and delivery from brand and identity to social media campaigns and search engine optimisation. </p>
        </div>
      </div>
      <h2>About the authors</h2>
      <h3>Deni</h3>
      <p>I am all-round graphic designer with over 5 years experience, working through the full life cycle of a project, from brief/brainstorm to creation and production. Creative, independent thinker, disciplined with tight deadlines. I always welcome new inspiring projects.</p>
      <h3>Marcjanna</h3>
      <p>I am sales professional with 5 years experience in sales and marketing. Passionate about strategy, developing new business ideas and bringing them to life. I help companies grow through marketing campaigns, sales and lead generation. I delivers results through bringing fresh thinking and looking for new challenges.</p>
      <p>We would like to offer you this free, no obligation website consultation. This is not a sales pitch, we would like to do this because creating successful websites makes us happy and we would like to find out more about you!</p>
      <h2>Let's get started!</h2>
      <h3>What you are going to get from us...</h3>
      <p><strong>We will analyse for you:</strong></p>
      <ul>
        <li><img src="images/tick.png" />  Your mobile friendliness.</li>
        <li><img src="images/tick.png" />  How sociable are you.</li>
        <li><img src="images/tick.png" />  Does Google like you.</li>
        <li><img src="images/tick.png" />  How we could improve the user experience of your website.</li>
        <li><img src="images/tick.png" />  What functionality we could add or improve.</li>
      </ul>

      <p><strong>We will give you:</strong></p>
      <ul>
        <li><img src="images/tick.png" />  Some design ideas.</li>
        <li><img src="images/tick.png" />  Content strategy suggestion.</li>
      </ul>

      <h3>What do we need from you...</h3>
      <p>Briefly answer this few questions below and we can talk it through during our online meeting.</p>
      <p><strong>About you</strong></p>

      <form id="reportForm" name="reportForm" action="sendemail-report.php" method="post">

      <ul>
        <li>
          <label>1. What your company does in one sentence?</label>
          <textarea id="textarea1" name="textarea1"></textarea>
        </li>
        <li>
          <label>2. What are your main differentiators and competitive advantages?</label>
          <textarea id="textarea2" name="textarea2"></textarea>
        </li>
        <li>
          <label>3. What are your main weaknesses?</label>
          <textarea id="textarea3" name="textarea3"></textarea>
        </li>
        <li>
          <label>4. Who are your main competitors and why?</label>
          <textarea id="textarea4" name="textarea4"></textarea>
        </li>
      </ul>

      <p><strong>Your current website</strong></p>

      <ul>
        <li>
          <label>1. What are the 3 things from your current website you would like to keep?</label>
          <textarea id="textarea5" name="textarea5"></textarea>
        </li>
        <li>
          <label>2. What would you definitely keep from your current design?</label>
          <textarea id="textarea6" name="textarea6"></textarea>
        </li>
        <li>
          <label>3. Would you like to add any specific functionality to your website?</label>
          <textarea id="textarea7" name="textarea7"></textarea>
        </li>
        <li>
          <label>4. Mention any specific ideas, wishes or expectations from the new design?</label>
          <textarea id="textarea8" name="textarea8"></textarea>
        </li>
      </ul>

      <p><strong>Your customers</strong></p>

      <ul>
        <li>
          <label>1. Who are your customers? What target audience we should keep in mind during redesign?</label>
          <textarea id="textarea9" name="textarea9"></textarea>
        </li>
        <li>
          <label>2. Why people visit your website? </label>
          <textarea id="textarea10" name="textarea10"></textarea>
        </li>
        <li>
          <label>3. Are there certain things you say that your customers respond well to?</label>
          <textarea id="textarea11" name="textarea11"></textarea>
        </li>
        <li>
          <label>4. What strategy do you use to start communication with your potential customers?</label>
          <textarea id="textarea12" name="textarea12"></textarea>
        </li>
      </ul>

      <p><strong>Your goals</strong></p>

      <ul>
        <li>
          <label>1. How would you define the success of the redesign?</label>
          <textarea id="textarea13" name="textarea13"></textarea>
        </li>
        <li>
          <label>2. How do you get your leads? How many leads do you need to reach your revenue?</label>
          <textarea id="textarea14" name="textarea14"></textarea>
        </li>
        <li>
          <label>3. How many visitors to the website you need to attract to reach the number of leads?</label>
          <textarea id="textarea15" name="textarea15"></textarea>
        </li>
        <li>
          <label>4. How would you define successful website? What are your expectations from the new design?</label>
          <textarea id="textarea16" name="textarea16"></textarea>
        </li>
      </ul>

      <p><strong>Your marketing strategy</strong></p>

      <ul>
        <li>
          <label>1. Are you sending people to your website from other marketing vehicles?</label>
          <textarea id="textarea17" name="textarea17"></textarea>
        </li>
        <li>
          <label>2. Do you send direct mail pieces or have other marketing collateral with "vanity URLs" that you need to keep when the new website goes live? </label>
          <textarea id="textarea18" name="textarea18"></textarea>
        </li>
        <li>
          <label>3. Do you have landing pages that will need to be redesigned on the new website?</label>
          <textarea id="textarea19" name="textarea19"></textarea>
        </li>
        <li>
          <label>4. What are the key performance indicators? What tools will you use to collect these measure?</label>
          <textarea id="textarea20" name="textarea20"></textarea>
        </li>
        <li>
          <label>5. What marketing software do you use to manage calls to action, landing pages, blogging, email and reporting?</label>
          <textarea id="textarea21" name="textarea21"></textarea>
        </li>
        <li>
          <label>6. Does your call-to-action convert visitors into leads and customers?</label>
          <textarea id="textarea22" name="textarea22"></textarea>
        </li>
      </ul>

      <p><strong>Your design</strong></p>

      <ul>
        <li>
          <label>1. Do you like anything in particular about your current website?</label>
          <textarea id="textarea23" name="textarea23"></textarea>
        </li>
        <li>
          <label>2. What are some other websites you like (in your industry or others), and why?</label>
          <textarea id="textarea24" name="textarea24"></textarea>
        </li>
        <li>
          <label>3. Does your company have brand standards to adhere to? </label>
          <textarea id="textarea25" name="textarea25"></textarea>
        </li>
        <li>
          <label>4. What words would you use to describe the “look” you’d like to achieve for  your new website? </label>
          <textarea id="textarea26" name="textarea26"></textarea>
        </li>
      </ul>

      <p><strong>Your content</strong></p>

      <ul>
        <li>
          <label>1. Will you update the website in-house, or will you need help? Do you have a specific content strategy?</label>
          <textarea id="textarea27" name="textarea27"></textarea>
        </li>
        <li>
          <label>2. Will you need a content management system so you can make changes in-house?</label>
          <textarea id="textarea28" name="textarea28"></textarea>
        </li>
        <li>
          <label>3. Are your product and service offers completely up-to-date?</label>
          <textarea id="textarea29" name="textarea29"></textarea>
        </li>
        <li>
          <label>4. Do your landing pages inspire people to learn more by digging deeper, or are they simply aesthetically pleasing pages that convey little value?</label>
          <textarea id="textarea30" name="textarea30"></textarea>
        </li>
        <li>
          <label>5. Is your website to text-heavy and filled with corporate speech?</label>
          <textarea id="textarea31" name="textarea31"></textarea>
        </li>
      </ul>

      <p><strong>Contact details</strong></p>

      <ul>
        <li>
          <label>Your name</label>
          <input id="name" name="name" />
        </li>
        <li>
          <label>Your email</label>
          <input id="email" name="email" />
        </li>
        <li>
          <label>Your website</label>
          <input id="website" name="website" />
        </li>
      </ul>

      <button type="submit" id="validate" class="button big purple">Submit your message</button>

      </form>

    </div>
    <!-- Centralized End -->

  </div>
  <!-- Content End -->

  {% include footer.html %}
  
</div>
