<footer class="site-footer">

	<div class="social_cont">
		<a href="https://www.facebook.com/thenordicland" target="_blank" class="fb social"><img src="{{relative}}images/fb.png" alt="Let's connect on Facebook!"/><span>Connect on Facebook</span></a>
		<a href="https://twitter.com/mladengorchev" target="_blank" class="tt social"><img src="{{relative}}images/tt.png" alt="Let's connect on Twitter!"/><span>Connect on Twitter</span></a>
	</div>

	<p>&copy; 2015 Thenordicland. All rights reserved. &nbsp;&nbsp; | &nbsp;&nbsp;  <a href="mailto:deni@thenordicland.io">deni@thenordicland.io</a></p>

</footer>

<!-- Twitter Share -->
<script>
window.twttr = (function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0],
  t = window.twttr || {};
if (d.getElementById(id)) return t;
js = d.createElement(s);
js.id = id;
js.src = "https://platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js, fjs);

t._e = [];
t.ready = function(f) {
  t._e.push(f);
};

return t;
}(document, "script", "twitter-wjs"));
</script>`

<!-- FB Share -->
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- GA Tracking Code -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-23824283-2', 'auto');
  ga('send', 'pageview');

</script>
