<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="author" content="Mladen Gorchev">
  <meta name="robots" content="index,follow">
  <meta charset="utf-8">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{page.description}}">
  <meta name="keywords" content="{{page.keywords}}">

  <meta property="og:image" content="{{page.og-image}}">
  <!--<meta property="og:title" content="Thenordicland">
  <meta property="og:url" content="http://thenordicland.io/">
  <meta property="og:site_name" content="Thenordicland">
  <meta property="og:type" content="website"> -->

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

  {% assign lvl = page.url | append:'X' | split:'/' | size %}
  {% capture relative %}{% for i in (3..lvl) %}../{% endfor %}{% endcapture %}

  <link rel="stylesheet" href="{{ relative }}css/main.css">
  <link rel="canonical" href="{{ site.url }}{{ page.url }}">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="57x57" href="http://thenordicland.io/favicons/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="http://thenordicland.io/favicons/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="http://thenordicland.io/favicons/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="http://thenordicland.io/favicons/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="http://thenordicland.io/favicons/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="http://thenordicland.io/favicons/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="http://thenordicland.io/favicons/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="http://thenordicland.io/favicons/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="http://thenordicland.io/favicons/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="http://thenordicland.io/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="http://thenordicland.io/favicons/android-chrome-192x192.png" sizes="192x192">
  <link rel="icon" type="image/png" href="http://thenordicland.io/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="http://thenordicland.io/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="http://thenordicland.io/favicons/manifest.json">
  <link rel="shortcut icon" href="http://thenordicland.io/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#3c3c3c">
  <meta name="msapplication-TileImage" content="http://thenordicland.io/favicons/mstile-144x144.png">
  <meta name="msapplication-config" content="http://thenordicland.io/favicons/browserconfig.xml">
  <meta name="theme-color" content="#3c3c3c">

  <!-- JavaScripts -->
  <script type="text/javascript" src="{{ relative }}js/jquery-1.10.1.min.js"></script>
  <script type="text/javascript" src="{{ relative }}js/readyExec.js"></script>
  <script type="text/javascript" src="{{ relative }}js/custom.js"></script>
  <script type="text/javascript" src="{{ relative }}js/jekyll_link_recover.js"></script>
  <script type="text/javascript" src="{{ relative }}js/validation.js"></script>
  <script type="text/javascript" src="{{ relative }}js/html5shiv.js"></script>

  <!-- Facebook Conversion Code for Leads - Mladen Gorchev 1 -->
  <script>(function() {
  var _fbq = window._fbq || (window._fbq = []);
  if (!_fbq.loaded) {
  var fbds = document.createElement('script');
  fbds.async = true;
  fbds.src = '//connect.facebook.net/en_US/fbds.js';
  var s = document.getElementsByTagName('script')[0];
  s.parentNode.insertBefore(fbds, s);
  _fbq.loaded = true;
  }
  })();
  window._fbq = window._fbq || [];
  window._fbq.push(['track', '6030161038841', {'value':'0.01','currency':'GBP'}]);
  </script>
  <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?ev=6030161038841&amp;cd[value]=0.01&amp;cd[currency]=GBP&amp;noscript=1" /></noscript>

  <!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
  <!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
  <!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
  <!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
  <!--[if gt IE 9 ]>    <html lang="en" class="no-js gtIE9"> <![endif]-->
  <!--[if !(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
</head>
