    <header class="site-header">

      <!-- Centralized -->
      <div class="centralized">

        <!-- Logo -->
        <a href="http://thenordicland.io" class="logo">
          <img src="{{relative}}images/logo_white.png" class="whole" title="" alt="Thenordicland Logo" />
        </a>
        <!-- Logo End -->

        <!-- Mobile Menu -->
        <div class="mobile_menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </div>
        <!-- Mobile Menu End -->        

        <nav>
          <ul>
              <li {% if page.url == '/index.html' %}class="current" {% endif %}><a href="{{relative}}index.html">Home</a></li>
              <li {% if page.url == '/web_development.html' or page.url == '/design_and_ux.html' or page.url == '/brand_identity.html'  %}class="current" {% endif %}><a href="{{relative}}brand_identity.html">Services</a></li>
              <li {% if page.url == '/my_work.html' %}class="current" {% endif %}><a href="{{relative}}my_work.html">Work</a></li>
              <li {% if page.url == '/blog.php' %}class="current" {% endif %}><a href="{{relative}}blog.php">Blog</a></li>
              <li {% if page.url == '/resources.php' %}class="current" {% endif %}><a href="{{relative}}resources.php">Resources</a></li>
              <li {% if page.url == '/hire_me.html' %}class="current" {% endif %}><a href="{{relative}}hire_me.html">Hire Me</a></li>
              <li class="report_button"{% if page.url == '/website_report.html' %}class="current" {% endif %}><a href="{{relative}}website_report.html">Get Free Website Report</a></li>
          </ul>
        </nav>
      </div>
      <!-- Centralized End -->

    </header>
