    <header class="site-header">

      <!-- Centralized -->
      <div class="centralized">

        <!-- Logo -->
        <a href="http://thenordicland.io" class="logo">
          <img src="images/logo_black.png" class="whole" title="" alt="Thenordicland Logo" />
        </a>
        <!-- Logo End -->

        <!-- Mobile Menu -->
        <div class="mobile_menu">
          <span class="one"></span>
          <span class="two"></span>
          <span class="three"></span>
        </div>
        <!-- Mobile Menu End -->        

        <nav>
          <ul>
              <li {% if page.url == '/index.html' %}class="current" {% endif %}><a href="index.html">Home</a></li>
              <li {% if page.url == '/web_development.html' or page.url == '/design_and_ux.html' or page.url == '/brand_identity.html'  %}class="current" {% endif %}><a href="brand_identity.html">Services</a></li>
              <li {% if page.url == '/my_work.html' %}class="current" {% endif %}><a href="my_work.html">Work</a></li>
              <li {% if page.url == '/blog.html' %}class="current" {% endif %}><a href="blog.html">Blog</a></li>
              <li {% if page.url == '/blog.html' %}class="current" {% endif %}><a href="blog.html">Resources</a></li>
              <li {% if page.url == '/hire_me.html' %}class="current" {% endif %}><a href="hire_me.html">Hire Me</a></li>
          </ul>
        </nav>
      </div>
      <!-- Centralized End -->

    </header>
