/*****************************************************************************/
/*
/* Reset
/*
/*****************************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga', 'kern';
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
  color: $grey-color-lighter;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    color: $grey-color;
}

h1 {
    font-size: 43px;
}

.home h1 {
    margin-bottom: 80px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 25px;
}


/**
 * Paragraphs
 */
  p {
    color: $grey-color-lighter;
    line-height: 1.7em;
  }

/**
 * Links
 */
a {
    color: $accent-color-purple;
    text-decoration: none;

    &:visited {
        color: darken($accent-color-purple, 15%);
    }

    &:hover {
        text-decoration: underline;
    }
}


/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/**
 * Buttons
 */

 .button {
    padding: 10px 20px;
    display: block;
    border-radius: 2px;
    text-align: center;
    text-decoration: none !important;
    background-color: transparent;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
 }

 .button.big {
    font-size: 20px;
    width: 170px;
 }

 .button.medium {
    font-size: 16px;
    width: 150px;
 }

 .button.purple {
    border: 1px solid $accent-color-purple;
    color: $accent-color-purple;
 }

 .button.blue {
    border: 1px solid $accent-color-blue;
    color: $accent-color-blue;
 }

 .button.purple:hover {
    background-color: $accent-color-purple;
    color: white;
 }

 .button.blue:hover {
    background-color: $accent-color-blue;
    color: white;
 }


/**
 * Content
 */
.content.right_side {
    padding-left: 450px;
    padding-top: 50px;
    padding-right: 50px;
}



/**
 * Clearfix
 */
.clear {
clear: both;
overflow: hidden;
}

%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
