/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/
.centralized {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.testimonials {
    width: 100%;
    margin: 60px 0;
    padding: 60px 0;
    float: inherit;
    background: #eee;
}

.testimonials blockquote {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 50px;
}

.home_page .testimonials blockquote {
    width: auto;
    text-align: left;
}

.home_page .testimonials blockquote footer {
    font-weight: bold;
}


.content {
    position: relative;
    z-index: 2;
}

/* Pages with Top Area */
.top_header_page .site-header .logo {
    opacity: 1;
}

.top_header_page .site-header .logo img {
    top: 20px;
    position: relative;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.top_header_page .site-header nav a {
    color: white;
    border-color: white;
    text-decoration: none;
}

.top_header_page .top_area h1 {
    text-align: center;
    color: white;
    position: relative;
    top: 130px;
    margin: 0px auto;
    width: 800px;
    line-height: 1.2em;
}

.top_header_page .content {
    padding-top: 293px;
}

.fixed-header .top_header_page .site-header .logo img {
    top: 0px;
}

.top_area {
    width: 100%;
    height: 293px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../images/default_about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center -200px;
    background-blend-mode: multiply;
}

.top_area .ie_opacity {
    display: none;
}

.ie8 .top_area .ie_opacity, .ie9 .top_area .ie_opacity, .gtIE9 .top_area .ie_opacity {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);
}

.top_area h1 {
    z-index: 2;
    position: relative;
}

.top_area img {
    position: relative;
    top: -200px;
    width: 100%;
}

 /* Page with Left Area */
.left_area {
    width: 380px;
    position: absolute;
    top: 0px;
    background-image: url("../images/default_about.jpg");
    background-position: right top;
    background-size: cover;
    background-blend-mode: multiply;
    z-index: 5;
}

.left_area .ie_opacity {
    display: none;
}

.ie8 .left_area .ie_opacity, .ie9 .left_area .ie_opacity, .gtIE9 .left_area .ie_opacity {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";

    /* IE 5-7 */
    filter: alpha(opacity=80);

    /* Good Browsers */
    opacity: 0.8;
}

.left_area .logo {
    position: absolute;
    right: -20px;
    top: 42px;
    z-index: 2;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ie8 .left_area .logo {
    position: relative;
    left: 126px;
    right: inherit !important;
}

.fixed-header .left_area .logo {
    top: 22px;
}

.left_area .logo img.whole {
    width: 273px;
}

.left_area .logo img.half {
    width: 20px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
}

.ie8 .left_area .logo img.half {
    top: -8px;
    z-index: 3;
}

.left_area .side_menu {
    position: absolute;
    top: 152px;
    right: 44px;
    z-index: 2;
}

.left_area .side_menu h2 {
    color: white;
    text-align: right;
    font-size: 43px;
}

.left_area .side_menu li {
    text-align: right;
    line-height: 2.5em;
}

.left_area .side_menu li a {
    color: white;
    font-size: 22px;
    opacity: 0.5;
    text-decoration: none !important;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.left_area .side_menu li.current a, .left_area .side_menu li a:hover {
    opacity: 1;
}

.ie8 .left_area .side_menu li a {
    color: #F981A0;
}

.ie8 .left_area .side_menu li.current a, .ie8 .left_area .side_menu li a:hover {
    color: white;
}

.padding_left .right_content {
    padding-left: 430px;
    padding-right: 5%;
}

.home_page .left_area {
    height: 1956px;
    background: rgba(53, 53, 53, 0.9);
}

.home_page .left_area .ie_opacity{
    display: none;
}

.ie8 .home_page .left_area .ie_opacity, .ie9 .home_page .left_area .ie_opacity, .gtIE9 .home_page .left_area .ie_opacity {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: $grey-color;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=94)";

    /* IE 5-7 */
    filter: alpha(opacity=94);
}

.home_page .padding_top {
    padding-top: 40px;
}

/* Interested */
.interested {
    text-align: center;
}

.interested h3 {
    margin: 60px 0 30px;
}

.interested .button {
    margin: 30px auto;
}

/*****************************************************************************/
/*
/* Header
/*
/*****************************************************************************/
.site-header {
    position: fixed;
    width: 100%;
    height: 125px;
    overflow: hidden;
    background: transparent;
    z-index: 4;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.fixed-header .site-header {
    z-index: 13;
    height: 75px;
    background: $grey-color;
}

.site-header .centralized {
    height: 175px;
}

.site-header .logo {
    position: absolute;
    top: 18px;

    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

    /* IE 5-7 */
    filter: alpha(opacity=0);

    /* Good Browsers */
    opacity: 0;

    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.ie8 .site-header .logo {
    width: 100%;
}

.site-header .logo img {
    width: 273px;
}

.fixed-header .site-header .logo {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

    /* IE 5-7 */
    filter: alpha(opacity=100);

    /* Good Browsers */
    opacity: 1;
}

.fixed-header.top_header_page .site-header .logo {
    top: 0px;
}

/* Navigation */
nav {
    width: 980px;
    position: absolute;
    margin-left: -490px;
    left: 50%;
}

nav ul {
    float: right;
    position: relative;
    top: 48px;
    list-style: none;

    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav ul li {
    float: left;
    margin-left: 5px;
}

nav ul li a, nav ul li a:visited {
    color: $grey-color;
    text-decoration: none !important;
    border-radius: 3px;
    padding: 2px 10px;
    opacity: 0.5;

    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

nav ul li.report_button a {
    border: 1px solid $accent-color-purple !important;
    opacity: 1;
    background: $accent-color-purple;
    color: white;
}

html .fixed-header .site-header li.report_button a {
    border: 1px solid $accent-color-purple !important;
}

.work_page nav ul li a, .work_page nav ul li a:visited {
    color: white !important;
}

nav ul li.current a {
    border: 1px solid $grey-color;
    opacity: 1;
}

nav ul li a:hover {
    opacity: 1;
}

.fixed-header .site-header li a {
    color: white !important;
    border-color: white !important;
}

.fixed-header .site-header ul {
    top: 25px;
}

.mobile_menu {
    display: none;
}


/*****************************************************************************/
/*
/* Home Page
/*
/*****************************************************************************/

/* Slider */
.showcase {
    position: relative;
}

.showcase img {
    width: 100%;
}

.showcase video {
    background: url(../images/default_home.jpg) center center;
    background-size: cover;
    width: 100%;
}

.showcase video img {
    display: none;
}

.ie8 .showcase video img {
    display: block;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* IE 5-7 */
    filter: alpha(opacity=50);

    /* Good Browsers */
    opacity: 0.4;
}

.showcase .cover_cont {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    background: rgba(254, 230, 195, 0.5);
}

.showcase .titles_cont {
    width: 600px;
    position: relative;
    padding-left: 430px;
    top: 260px;
}

.showcase .titles_cont a {
    color: $grey-color;
    font-size: 46px;
    display: block;
    margin-bottom: 20px;
    border-bottom: 1px dotted $grey-color;
    text-decoration: none;
}

.home_page h1 {
    padding-bottom: 30px;
}

/* Services */
.services {
    margin-left: -166px;
    position: relative;
}

.services .service {
    overflow: hidden;
    margin-bottom: 70px;
}

.services .service .icon {
    background: $accent-color-purple;
    width: 128px;
    height: 113px;
    border-top-left-radius: 20px;
    float: left;
}

.services .service .right {
    float: left;
    max-width: 634px;
    margin-left: 40px;
}

.services .service span {
    background: $accent-color-purple;
    width: 128px;
    height: 113px;
}

.services .service.bi img {
    position: relative;
    top: 30px;
    width: 44px;
    left: 40px;
}

.services .service.dux img {
    position: relative;
    top: 33px;
    width: 53px;
    left: 36px;
}

.services .service.web img {
    position: relative;
    top: 37px;
    width: 53px;
    left: 36px;
}

/* About me */
.about_me {
    background: url("../images/default_about.jpg") no-repeat center 0px;
    background-size: cover;
    height: 500px;
    width: 100%;
    position: relative;
    z-index: 5;
}

.about_me .center {
    width: 530px;
    margin: 0 auto;
    padding-top: 100px;
    text-align: right;
    overflow: hidden;
}

.about_me .center h2 {
    font-size: 43px;
    width: 400px;
}

.about_me .center p {
    width: 400px;
}

.about_me .center .button {
    margin-top: 20px;
    float: right;
    margin-right: 130px;
}

/* Work in Progress */
.work_in_progress {
    width: 50%;
    float: left;
    background: url(../images/wip.jpg) no-repeat center center;
    height: 460px;
}

.work_in_progress a {
    margin: 0 auto;
    position: relative;
    top: 200px;
}

/* Testimonials */
.home_page .testimonials {
    width: 50%;
    float: right;
    background: white;
    padding: 0px !important;
    margin-top: 40px;
}


/*****************************************************************************/
/*
/* Services Page
/*
/*****************************************************************************/

.services_page .icon {
    width: 42px;
    margin-bottom: 20px;
}

.services_page .dux .icon {
    width: 51px;
    margin-top: 10px;
}

.services_page .web .icon {
    width: 52px;
    margin-top: 14px;
}

.services_page .left_area {
    background-color: $accent-color-purple;
    height: 900px;
    z-index: 4 !important;
}

.ie8 .services_page .left_area .ie_opacity, .ie9 .services_page .left_area .ie_opacity, .gtIE9 .services_page .left_area .ie_opacity {
    background-color: $accent-color-purple;
}

.services_page .right_content {
    padding-top: 155px;
}

.services_page .services_count {
    overflow: hidden;
    margin: 60px 0px;
}

.services_page .services_count li img {
    width: 30px;
    margin-right: 10px;
    position: relative;
}

.services_page .services_count li {
    float: left;
    margin-right: 30px;
    color: $grey-color-lighter;
}

.ie8 .services_page .services_count li {
    width: 180px;
}

.ie8 .services_page .services_count li img {
    float: left;
    display: block;
}

.ie8 .services_page .services_count span {
    display: block;
    float: left;
    top: 4px;
    position: relative;
}

.projects {
    position: relative;
    z-index: 11;
    overflow: hidden;
    margin-bottom: 60px;
}

.projects img {
    margin-bottom: 10px;
}

.projects img.p_one {
    width: 50%;
    float: left;
}

.projects img.p_two {
    width: 49%; 
    float: right;  
}

/* Examples Projects */
.examples_projects {
    position: relative;
    z-index: 12;
    text-align: center;
    overflow: hidden;
}

.examples_projects img {
    text-align: center;
    display: inline-block;
    position: relative;
}

.examples_projects img.p_two {
    float: left;
    width: 568px;
}

.examples_projects img.p_three {
    float: right;
}

.examples_projects .centralized {
    width: 920px;
    margin-top: 60px;
}

.examples_projects p.centralized {
    text-align: left;
}

.examples_projects p.centralized a {
    display: block;
    margin-top: 20px;
}

/* Web Services */
.web_services {
    overflow: hidden;
}

.web_services .web_s {
    width: 45%;
    float: left;
    text-align: left;
}

.web_services .web_s p {
    height: 200px;
}

.web_services .web_s.two, .web_services .web_s.four {
    width: 45%;
    float: right;
}

.web_services .web_s .top {
    overflow: hidden;
    margin: 60px 0 30px;
}

.web_services .web_s .top h3 {
    position: relative;
    top: 28px;
    padding-left: 25px;
    float: left;
}

.web_services .web_s .top .icon {
    background: $accent-color-purple;
    width: 108px;
    height: 93px;
    border-top-left-radius: 20px;
    float: left;
}

.web_services .web_s .top .web img {
    position: relative;
    top: 27px;
    width: 53px;
    left: 27px;
}

.web_services .web_s .top .wp img {
    position: relative;
    top: 21px;
    width: 53px;
    left: 28px;
}

.web_services .web_s .top .customcms img {
    position: relative;
    top: 28px;
    width: 63px;
    left: 22px;
}

.web_services .web_s .top .psdhtml img {
    position: relative;
    top: 22px;
    width: 73px;
    left: 17px;
}


/*****************************************************************************/
/*
/* My Work Page
/*
/*****************************************************************************/
.work_page .top_area {
    background-color: $accent-color-blue;
}

.ie8 .work_page .top_area .ie_opacity, .ie9 .work_page .top_area .ie_opacity, .gtIE9 .work_page .top_area .ie_opacity {
    background-color: $accent-color-blue;
}

/* Projects */

.my_work_projects {
    overflow: hidden;
    height: 2020px;
}

.my_work_projects .project {
    position: absolute;
    top: 0px;
    overflow: hidden;
}

.my_work_projects .project a {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px;
    margin-left: -96px;
    z-index: 10;
    opacity: 0;
}

.my_work_projects .project.p_1 a {
    width: 220px;
    margin-left: -131px !important;
}

.my_work_projects .project:hover a {
    opacity: 1;
}

.my_work_projects .project img {
    opacity: 1;
    position: relative;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.my_work_projects .project:hover img {
    opacity: 0.2;
}

.my_work_projects .project.p_1 {
    top: 1125px;
}

.my_work_projects .project.p_2 {
    right: 0px;
    top: 1125px;
}

.my_work_projects .project.p_3 {
    top: 1514px;
}

.my_work_projects .project.p_4 {
    right: 187px;
    top: 1684px;
}

.my_work_projects .project.p_5 {
    right: 0;
    top: 1684px;
}

.my_work_projects .project.p_5 a {
    width: 130px;
    margin-left: -86px;
}

.my_work_projects .project.p_6 {
    right: 0;
    top: 589px;
}

.my_work_projects .project.p_8 {
    right: 0;
}

/*****************************************************************************/
/*
/* Blog Page
/*
/*****************************************************************************/
.blog_page .site-header {
    z-index: 14;
}

.blog_page .content {
    z-index: 6;
}

.blog_page .left_area {
    background-color: $accent-color-green;
    position: fixed;
    height: 100%;
}

.ie8 .blog_page .left_area .ie_opacity, .ie9 .blog_page .left_area .ie_opacity, .gtIE9 .blog_page .left_area .ie_opacity {
    background-color: $accent-color-green;
}

.blog_page .padding_top {
    padding-top: 154px; 
    padding-right: 100px;
}

.blog_page .blog_articles h2 span {
    font-size: 12px;
    color: $grey-color-light;
    position: relative;
    display: block;
    padding-top: 5px;
}

.blog_page .blog_articles .article {
    margin-top: 40px;
    position: relative;
}

.blog_page .blog_articles .article:first-child {
    margin-top: 0px;
}

.blog_page .blog_articles .article .thumbnail {
    width: 58px;
    height: 58px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    left: -81px;
    border: 2px solid white;
}

.blog_page .blog_articles .article h2 a {
    color: $grey-color;
}

.blog_page .blog_articles .article .thumbnail img {
    top: 0px;
    height: 100%;
}

/*****************************************************************************/
/*
/* Blog Inner Page
/*
/*****************************************************************************/
.blog_inner_page .top_area {
    background-color: $accent-color-green;
}

.ie8 .blog_inner_page .top_area .ie_opacity, .ie9 .blog_inner_page .top_area .ie_opacity, .gtIE9 .blog_inner_page .top_area .ie_opacity {
    background-color: $accent-color-green;
}

.blog_inner_page .centralized.blog_articles {
    width: 780px;
}

.blog_inner_page .centralized.blog_articles .report {
    width: 400px;
    margin: 60px auto;
    text-align: center;
    font-size: 14px;
    color: #999;
}

.blog_inner_page .centralized.blog_articles .report img {
    display: block;
    width: 100px;
    margin: 0 auto 20px;
}

.blog_inner_page .centralized.blog_articles .report .button {
    width: 358px;
    font-size: 16px;
    color: #84cc53;
    cursor: pointer;
    border-color: #84cc53;
}

.blog_inner_page .centralized.blog_articles .report .button:hover {
    color: #fff;
    background: #84cc53;
}

.blog_inner_page article {
    margin-top: 40px;
}

/* Share Buttons */

.share_buttons {
    padding-top: 40px;
    padding-bottom: 40px;
}

.twitter-share-button {
    float: left;
    margin-right: 10px;
}

.fb-share-button {
   position: relative;
   top: -2px;
}

/*****************************************************************************/
/*
/* Hire Me Page
/*
/*****************************************************************************/
.hire_me_page .top_area {
    background-color: orange;
}

.ie8 .hire_me_page .top_area .ie_opacity, .ie9 .hire_me_page .top_area .ie_opacity, .gtIE9 .hire_me_page .top_area .ie_opacity {
    background-color: orange;
}

/* Contact Form */
form {
    width: 363px;
    margin: 40px auto 0;
}

form .field {
    position: relative;
    height: 63px;
    margin-bottom: 17px;
}

form .textarea {
    position: relative;
}

form .right {
    width: 370px;
    float: right;
    position: relative;
    opacity: 0.3;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form .active .right {
    opacity: 1;
}

form .right.active {
    opacity: 1;
}

form .right label {
    display: block;
    font-size: 18px;
    position: absolute;
    top: 20px;
    left: 10px;
    z-index: 1;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form .active label {
    left: -70px;
    color: $grey-color-light;
}
form .active label.movie {
    left: -270px;
}

form .dropdown {
    border: none;
    border-top: 2px solid $grey-color;
    border-bottom: 2px solid $grey-color;
    margin: 0px;
    padding: 0px 10px;
    width: 100%;
    font-size: 18px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    position: relative;
}

form .dropdown select {
    font-size: 18px;
    font-family: "Varela Round", sans-serif;
    padding: 21px 0px;
    width: 100%;
    border: none;
    cursor: pointer;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
}

form .dropdown img {
    position: absolute;
    right: 10px;
    width: 16px;
    top: 23px;
}

form .right input {
    border: none;
    border-top: 2px solid $grey-color;
    border-bottom: 2px solid $grey-color;
    padding: 20px 10px;
    width: 100%;
    font-size: 18px;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
    background: transparent;
    position: relative;
    z-index: 2;
}

form .right textarea {
    border: none;
    border-top: 2px solid $grey-color;
    border-bottom: 2px solid $grey-color;
    padding: 20px 10px;
    max-width: 100%;
    min-width: 100%;
    font-size: 14px;
    min-height: 100px;
    font-family: "Varela Round";
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: none;
}

form .error_info{
    position: absolute;
    color: #ff5f6a;
    font-size: 14px;
    text-align: right;
    top: 23px;
    opacity: 0;
    width: 235px;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

form .active .error_info {
    opacity: 0 !important;
}

form .info_block.error .error_info {
    opacity: 1;
    left: -260px;
}

form .info_block.error input {
    border-color: #ff5f6a;
}

form .to_about.error .dropdown {
    border-color: #ff5f6a;
}

form button {
    width: 370px !important;
    float: right;
    margin-top: 30px;
    cursor: pointer;
}

/*****************************************************************************/
/*
/* 404 Page
/*
/*****************************************************************************/
.page404 {
    background: url(../images/default_about.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    position: fixed;
}

.page404 .middle_it {
    margin: 160px auto 0;
    width: 700px;
}

.page404 nav a {
    color: $grey-color !important;
}

.page404 h1 {
    text-align: center;
}

/*****************************************************************************/
/*
/* Report Page
/*
/*****************************************************************************/

.report_page .top_area {
    background-color: #715058;
}

.report_page .content .centralized {
    padding-top: 60px;
    width: 700px;
}

.report_page .content .about_us_info {
    overflow: hidden;
    margin-bottom: 60px;
}

.report_page .content .centralized .left {
    width: 330px;
    float: left;
}

.report_page .content .centralized .left img {
    width: 247px;
    display: block;
    margin: 69px 0 52px;
}

.report_page .content .centralized .right img {
    width: 123px;
    display: block;
    margin: 30px auto 20px;
}

.report_page .content .centralized .right {
    width: 330px;
    float: right;
}

.report_page .content .centralized ul {
    padding: 0px;
    margin: 0 0 40px 10px;
}

.report_page .content .centralized ul li {
    margin-bottom: 10px;
    color: #666;
}

.report_page .content .centralized ul li img {
    width: 20px;
    margin-right: 10px;
}

.report_page .content .centralized ul li label {
    display: block;
    margin-bottom: 10px;
}

.report_page .content .centralized ul li textarea, .report_page .content .centralized ul li input {
    min-height: 150px;
    max-width: 100%;
    min-width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ddd;
    border-radius: 2px;
    padding: 20px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #666;
    font-family: "Varela Round";
    outline: none;
}

.report_page .content .centralized ul li input {
    min-height: inherit !important;
}

.report_page .content .centralized ul li textarea:focus, .report_page .content .centralized ul li input:focus {
    border-color: $accent-color-purple;
}

.report_page form {
    width: 100%;
}

.report_page button {
    float: inherit !important;
}

/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/
.site-footer {
    padding: 40px;
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

.blog_page .site-footer {
    padding-left: 430px;
    width: auto;
    text-align: left;
}

.site-footer h3 {
    font-size: 30px;
    margin: 40px 0;
}

.site-footer .button {
    margin: 0 auto 100px;
}

.site-footer .social_cont {
    padding-top: 20px;
    padding-bottom: 20px;
}

.site-footer .social {
    margin: 0 10px;
}

.blog_page .site-footer .social {
    margin: 0 20px 0px 0px !important;
}

.site-footer .social img {
    width: 22px;
    opacity: 0.6;
    padding-right: 10px;
}

.site-footer .social span {
    font-size: 12px;
}

.site-footer a {
    color: $grey-color-light;
}

.site-footer p {
    font-size: 12px;
    color: $grey-color-light;
}


/*****************************************************************************/
/*
/* Page Transitions
/*
/*****************************************************************************/
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */

/* Left Area */
.left_area.fadeInRight {
    animation-name: slideInLeft;
    animation-duration: 0.6s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .left_area.fadeInRight {
    animation-name: slideOutLeft;
    animation-duration: 0.6s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

/* Right Area */
.showcase.fadeInRight {
    animation-name: fadeInLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .showcase.fadeInRight {
    animation-name: fadeOutLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.about_me {
    animation-name: fadeInDown;
    animation-duration: 1.2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .about_me {
    animation-name: fadeOutDown;
    animation-duration: 1.4s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.block4 {
    animation-name: fadeInDown;
    animation-duration: 1.2s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .block4 {
    animation-name: fadeOutDown;
    animation-duration: 1.4s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.home_page .content, .services_page .content, .blog_page .content {
    animation-name: fadeInLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.home_page .content {
    z-index: 5;
}

#main.is-exiting .home_page .content, #main.is-exiting .services_page .content, #main.is-exiting .blog_page .content  {
    animation-name: fadeOutLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.blog_page .left_area {
    animation-name: slideInLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .blog_page .left_area {
    animation-name: slideOutLeft;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.projects {
    animation-name: fadeInUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .projects {
    animation-name: fadeOutDown;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.top_area {
    animation-name: fadeInDown;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

#main.is-exiting .top_area {
    animation-name: fadeOutUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
}

.examples_projects {
    animation-name: bounceInUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}

#main.is-exiting .examples_projects  {
    animation-name: bounceOutDown;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.services_page .services_count li:nth-child(1) img {
    animation-name: bounceInUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.2s;
}

.services_page .services_count li:nth-child(1) span {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.3s;
}

.services_page .services_count li:nth-child(2) img {
    animation-name: bounceInUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.4s;
}

.services_page .services_count li:nth-child(2) span {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.5s;
}

.services_page .services_count li:nth-child(3) img {
    animation-name: bounceInUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.6s;
}

.services_page .services_count li:nth-child(3) span {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.7s;
}


.services_page .services_count li:nth-child(4) img {
    animation-name: bounceInUp;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.8s;
}

.services_page .services_count li:nth-child(4) span {
    animation-name: fadeIn;
    animation-duration: 0.7s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1.9s;
}


.my_work_projects .project.p_1 img {
    animation-name: bounceInRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.7s;
}

#main.is-exiting .my_work_projects .project.p_1 img {
    animation-name: bounceOutRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.5s;
}

.my_work_projects .project.p_2 img {
    animation-name: bounceInLeft;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

#main.is-exiting .my_work_projects .project.p_2 img {
    animation-name: bounceOutLeft;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.my_work_projects .project.p_3 img {
    animation-name: bounceInRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

#main.is-exiting .my_work_projects .project.p_3 img {
    animation-name: bounceOutRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

.my_work_projects .project.p_4 img {
    animation-name: bounceInUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.8s;
}

#main.is-exiting .my_work_projects .project.p_4 img {
    animation-name: bounceOutUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.8s;
}

.my_work_projects .project.p_5 img {
    animation-name: bounceInUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1s;
}

#main.is-exiting .my_work_projects .project.p_5 img {
    animation-name: bounceOutUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1s;
}

.my_work_projects .project.p_6 img {
    animation-name: bounceInUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

#main.is-exiting .my_work_projects .project.p_6 img {
    animation-name: bounceOutUp;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.6s;
}

.my_work_projects .project.p_7 img {
    animation-name: bounceInLeft;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

#main.is-exiting .my_work_projects .project.p_7 img {
    animation-name: bounceOutLeft;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.4s;
}

.my_work_projects .project.p_8 img {
    animation-name: bounceInRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

#main.is-exiting .my_work_projects .project.p_8 img {
    animation-name: bounceOutRight;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}

.hire_me_page form {
    animation-name: bounceIn;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 1s;
}

#main.is-exiting .hire_me_page form {
    animation-name: bounceOut;
    animation-duration: 0.5s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;
    animation-delay: 0.2s;
}













