/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 0px) and (max-device-width : 767px) {

  /*****************************************************************************/
  /*
  /* Common
  /*
  /*****************************************************************************/

  .centralized {
    width: auto;
  }

  .content {
    padding: 20px;
  }

  .testimonials {
    padding: 0px;
  }

  .testimonials blockquote {
    width: auto !important;
  }

  input {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /* Typography */
  h1 {
    font-size: 30px;
    line-height: 1.3em;
  }

  h2 {
    font-size: 25px;
    line-height: 1.3em;
  }

  h3 {
    font-size: 20px;
  }

  /* Page with Top Area */
  .top_header_page .content {
    padding-top: 0px;
  }

  .top_area {
    height: auto !important;
    padding-top: 70px;
    position: relative !important;
    background: none;
    padding-bottom: 9px;
  }

  .top_header_page .top_area h1 {
    top: inherit !important;
    width: auto;
  }

  /* Page with Left Area */
  .padding_left .right_content {
    padding: 0px !important;
  }

  .left_area {
    width: auto !important;
    position: relative !important;
    background-image: none !important;
    height: auto !important;
    padding-top: 60px;
  }

  .left_area .logo {
    display: none !important;
  }

  .left_area .side_menu {
    position: relative !important;
    top: inherit !important;
    right: inherit !important;
  }

  .left_area .side_menu h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
  }

  .left_area .side_menu ul {
    margin: 0px;
    text-align: center;
  }

  .home_page .left_area {
    display: none;
  }

  /* Interested */
  .interested h3 {
    padding: 0 20px;
  }

  /*****************************************************************************/
  /*
  /* Header
  /*
  /*****************************************************************************/

  .site-header {
    height: 60px;
    background: $grey-color;
    overflow: inherit !important;
  }

  .site-header .centralized {
    height: 60px !important;
  }

  .site-header .logo {
    opacity: 1 !important;
    top: 14px;
    left: 20px;
  }

  .site-header .logo img {
    width: 233px;
    top: 0px !important;
  }

  /* Navigation */
  nav {
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    position: fixed;
    margin: 0px;
    left: 0px;
    top: 80px;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }

  header.active nav {
    opacity: 1;
    top: 60px;
    max-height: 70px;
  }

  nav ul {
    float: inherit !important;
    top: 0px !important;
    margin: 0px;
    overflow: hidden;
  }

  nav ul li {
    margin: 0px !important;
    float: inherit !important;
    display: inline-block;
    width: 18%;
    text-align: center;
  }

  nav ul a {
    border: 0px !important;
    border-radius: 0px !important;
    padding: 13px 0px !important;
    display: block;
    color: white !important;
  }

  nav ul li.current a {
    background: rgba(255, 255, 255, 0.8);
    color: $grey-color !important;
  }

  /* Navigation Mobile */
  .mobile_menu {
    position: absolute;
    top: 15px;
    width: 30px;
    height: 30px;
    opacity: 1;
    right: 20px;
    display: block !important;
    z-index: 10;
  
    -webkit-transition: all 500ms cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
    -webkit-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
      -moz-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
      -o-transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */

    -webkit-transition-timing-function: cubic-bezier(0.680, 0, 0.265, 1); /* older webkit */
    -webkit-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
      -moz-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
      -o-transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); 
        transition-timing-function: cubic-bezier(0.680, -0.550, 0.265, 1.550); /* easeInOutBack */
  }

  .mobile_menu span {
    width: 16px;
      height: 1px;
      background: white;
      position: absolute;
      display: block;
      top: 8px;
      left: 7px;

      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  .mobile_menu span.two {
    top:14px;
  }

  .mobile_menu span.three {
    top:20px;
  }

  header.active .mobile_menu span.one {
    -webkit-transform: rotate(-50deg);
      -moz-transform: rotate(-50deg);
      transform: rotate(-50deg);
      top: 14px;
  }

  header.active .mobile_menu span.two {
    left: 20px;
    opacity: 0;
  }

  header.active .mobile_menu span.three {
    -webkit-transform: rotate(50deg);
      -moz-transform: rotate(50deg);
      transform: rotate(50deg);
      top: 14px;
  }


  /*****************************************************************************/
  /*
  /* Home Page
  /*
  /*****************************************************************************/
  .home_page h1 {
    margin-bottom: 0px;
    font-size: 20px;
    text-align: center;
  }

  /* Showcase */
  .home_page .showcase {
    padding-top: 60px;
    overflow: hidden;
    height: 250px;
    background: url(../images/default_home.jpg) no-repeat center bottom;
    background-size: cover;
  }

  .home_page .showcase video {
    display: none;
  }

  .showcase .titles_cont {
    width: auto;
    padding: 0 20px !important;
    top: 50px !important;
  } 

  .showcase .titles_cont span {
    font-size: 22px;
  } 

  /* Services */
  .services {
    margin-left: 0px;
  }

  .services .service .icon {
    float: inherit;
    margin: 0 auto 20px;
  }

  .services .service .right {
    float: inherit;
    margin-left: 0px;
  }

  .services .service h2 {
    text-align: center;
  }

  /* About me */
  .about_me {
    height: 370px;
  }

  .about_me .center {
    width: auto;
    text-align: left;
    padding-top: 55px;
  }

  .about_me .center h2 {
    width: auto;
    font-size: 25px;
    padding: 0 20px;
  }

  .about_me .center p {
    width: auto;
    padding: 0 20px;
  }

  .about_me .center .button {
    float: inherit;
    margin-right: inherit !important;
    margin-left: 20px;
  }

  /* Work in Progress */
  .work_in_progress {
    float: inherit;
    width: 100%;
    height: 200px;
  }

  .work_in_progress a {
    top: 78px;
  }

  /* Testimonials */
  .home_page .testimonials {
    width: 100%;
    float: inherit;
    margin: 40px 0;
  }

  .home_page .testimonials blockquote {
    padding: 0 20px;
  }


  /*****************************************************************************/
  /*
  /* Services Page
  /*
  /*****************************************************************************/

  .services_page .left_area .side_menu {
    padding-bottom: 20px;
  }  

  .services_page .left_area .side_menu ul li {
    text-align: center;
    width: 40px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
  }

  .services_page .left_area .side_menu ul li a {
    background-size: contain;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0px;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .services_page .left_area .side_menu ul li.bi_li a {
    background-image: url(../images/bi_icon.png);
  }

  .services_page .left_area .side_menu ul li.dux_li a {
    background-image: url(../images/dux_icon.png);
  }

  .services_page .left_area .side_menu ul li.web_li a {
    background-image: url(../images/web_icon.png);
  }

  .services_page .services_count li:first-child {
    margin-top: 0px;
  }

  .services_page .services_count li {
    margin-top: 15px;
    float: inherit !important;
  }

  /* Example Projects */
  .examples_projects .centralized {
    width: auto !important;
    padding: 0 20px;
  }

  .web_services .web_s {
    width: 100% !important;
    float: inherit !important;
  }

  .web_services .web_s .top {
    margin: 23px 0 0 0 !important;
  }

  .web_services .web_s .top h3 {
    top: 10px;
  }

  .web_services .web_s .top .icon {
    width: 58px;
    height: 53px;
    border-top-left-radius: 10px;
    margin-bottom: 0px;
  }

  .web_services .web_s .top .web img {
    top: 12px;
    width: 43px;
    left: 9px;
  }

  .web_services .web_s .top .wp img {
    top: 8px;
    width: 37px;
    left: 11px;
  }

  .web_services .web_s .top .customcms img {
    top: 13px;
    width: 45px;
    left: 7px;
  }

  .web_services .web_s .top .psdhtml img {
    top: 12px;
    width: 43px;
    left: 8px;
  }

  .web_services .web_s p {
    display: none;
    padding-top: 20px;
  }

  .examples_projects .p_one{
    position: relative;
    max-width: inherit !important;
    width: 800px;
    right: -30px;
  }

  .dux_page .examples_projects .p_one, .dux_page .examples_projects .p_two {
    display: none;
  }

  .dux_page .examples_projects img.p_three {
    float: inherit !important;
  }

  .dux_page .examples_projects .centralized {
    margin-top: 0px;
    padding-bottom: 40px;
  }

  /* Projects */
  .projects img {
    display: block;
    width: 100% !important;
  }

  /*****************************************************************************/
  /*
  /* Blog Page
  /*
  /*****************************************************************************/
  .blog_page .blog_articles .article .thumbnail {
    position: relative;
    margin: 0 auto;
    left: inherit !important;
    border: 0px !important;
  }

  .blog_page .blog_articles .article h2 {
    text-align: center;
    margin-top: 15px;
  }

  .blog_page .blog_articles h2 span {
    display: block;
    top: inherit !important;
    padding: 0px !important;
    margin-top: 5px;
  }

  .blog_page h1 {
    text-align: center;
  }

  /*****************************************************************************/
  /*
  /* Blog Inner Page
  /*
  /*****************************************************************************/
  .blog_inner_page .centralized.blog_articles {
    width: auto;
  }

  /*****************************************************************************/
  /*
  /* My Work Page
  /*
  /*****************************************************************************/
  .my_work_projects .project {
    position: relative;
    top: inherit !important;
    left: inherit !important;
    right: inherit !important;
    width: 100%;
    margin-bottom: 10px;
  }

  /*****************************************************************************/
  /*
  /* Hire Me Page
  /*
  /*****************************************************************************/
  form {
    width: auto !important;
  }

  form .right {
    float: inherit !important;
    width: auto !important;
  }

  form button {
    width: 100% !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  /*****************************************************************************/
  /*
  /* Footer
  /*
  /*****************************************************************************/

  .site-footer {
    width: auto !important;
  }

  .blog_page .site-footer {
    padding: 0px;
    text-align: center;
  }

  .site-footer .social span {
    display: none;
  }

  .site-footer .social {
    margin: 0px;
  }

  .site-footer .social img {
    width: 30px;
  }

  
}

/* Tablets (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {

  /*****************************************************************************/
  /*
  /* Common
  /*
  /*****************************************************************************/

  .centralized {
    width: auto;
  }

  .content {
    padding: 40px 40px 0px 40px;
  }

  .testimonials blockquote {
    width: auto !important;
  }

  /* Typography */
  h1 {
    font-size: 30px;
    line-height: 1.3em;
  }

  h2 {
    font-size: 25px;
    line-height: 1.3em;
  }

  h3 {
    font-size: 20px;
  }

  /* Page with Top Area */
  .top_header_page .content {
    padding-top: 0px;
  }

  .top_area {
    height: auto !important;
    padding-top: 70px;
    position: relative !important;
    background: none;
  }

  .top_header_page .top_area h1 {
    top: inherit !important;
  }

  /* Page with Left Area */
  .padding_left .right_content {
    padding: 0px !important;
  }

  .left_area {
    width: auto !important;
    position: relative !important;
    background-image: none !important;
    height: auto !important;
    padding-top: 60px;
  }

  .left_area .logo {
    display: none !important;
  }

  .left_area .side_menu {
    position: relative !important;
    top: inherit !important;
    right: inherit !important;
  }

  .left_area .side_menu h2 {
    text-align: center;
    font-size: 30px;
    padding: 10px 0;
  }

  .left_area .side_menu ul {
    margin: 0px;
    text-align: center;
  }

  .home_page .left_area {
    display: none;
  }

  /* Interested */
  .interested h3 {
    padding: 0 20px;
  }

  /*****************************************************************************/
  /*
  /* Header
  /*
  /*****************************************************************************/

  .site-header {
    height: 60px;
    background: $grey-color;
    overflow: inherit !important;
  }

  .site-header .centralized {
    height: 60px !important;
  }

  .site-header .logo {
    opacity: 1 !important;
    top: 14px;
    left: 20px;
  }

  .site-header .logo img {
    width: 233px;
    top: 0px !important;
  }

  /* Navigation */
  nav {
    width: 414px !important;
    position: absolute;
    margin-left: 0px;
    left: inherit !important;
    right: 10px !important;
    top: 19px;
  }

  nav ul {
    float: inherit !important;;
    top: 0px !important;
  }

  nav ul li a, nav ul li a:visited {
    color: white;
  }


  /*****************************************************************************/
  /*
  /* Home Page
  /*
  /*****************************************************************************/
  .home_page h1 {
    margin-bottom: 40px;
    font-size: 35px;
  }

  /* Showcase */
  .home_page .showcase {
    padding-top: 60px;
    overflow: hidden;
  }

  .showcase .titles_cont {
    display: none !important;
  } 

  /* Services */
  .services {
    margin-left: 0px;
  }

  .services .service .right {
    max-width: 510px;
  }

  /* About me */
  .about_me {
    height: 370px;
  }

  .about_me .center {
    text-align: left;
    padding-top:77px;
  }

  .about_me .center h2 {
    width: auto;
    font-size: 25px;
    padding: 0 20px;
  }

  .about_me .center p {
    padding-left: 20px;
  }

  .about_me .center .button {
    float: inherit;
    margin-right: inherit !important;
    margin-left: 20px;
  }

  /* Work in Progress */
  .work_in_progress {
    height: 200px;
  }

  .work_in_progress a {
    top: 78px;
  }

  /* Testimonials */
  .home_page .testimonials {
    margin: 40px 0;
  }

  .home_page .testimonials blockquote {
    padding: 0 40px;
  }


  /*****************************************************************************/
  /*
  /* Services Page
  /*
  /*****************************************************************************/

  .services_page .left_area {
    padding-bottom: 20px;
  }

  .services_page .left_area .side_menu ul li {
    text-align: center;
    width: 40px;
    position: relative;
    display: inline-block;
    margin: 0 15px;
  }

  .services_page .left_area .side_menu ul li a {
    background-size: contain;
    width: 40px;
    height: 40px;
    display: block;
    font-size: 0px;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .services_page .left_area .side_menu ul li.bi_li a {
    background-image: url(../images/bi_icon.png);
  }

  .services_page .left_area .side_menu ul li.dux_li a {
    background-image: url(../images/dux_icon.png);
  }

  .services_page .left_area .side_menu ul li.web_li a {
    background-image: url(../images/web_icon.png);
  }

  .services_page .services_count li img {
    margin-right: 7px;
  }

  /* Example Projects */
  .examples_projects .centralized {
    width: auto !important;
    padding: 0 40px;
  }

  .web_services .web_s .top h3 {
    padding-left: 24px;
  }

  .examples_projects img.p_two {
    width: 60%;
  }

  .examples_projects img.p_three {
    width: 30%;
  }

  .examples_projects .p_one{
    position: relative;
    max-width: inherit !important;
    width: 90%;
  }

  /*****************************************************************************/
  /*
  /* Blog Page
  /*
  /*****************************************************************************/
  .blog_page .blog_articles .article .thumbnail {
    position: relative;
    margin: 0 auto;
    left: inherit !important;
    border: 0px !important;
  }

  .blog_page .blog_articles .article h2 {
    text-align: center;
    margin-top: 15px;
  }

  .blog_page .blog_articles h2 span {
    display: block;
    top: inherit !important;
    padding: 0px !important;
    margin-top: 5px;
  }

  .blog_page h1 {
    text-align: center;
  }

  /*****************************************************************************/
  /*
  /* Blog Inner Page
  /*
  /*****************************************************************************/
  .blog_inner_page .centralized.blog_articles {
    width: auto;
  }

  /*****************************************************************************/
  /*
  /* My Work Page
  /*
  /*****************************************************************************/
  .my_work_projects .project {
    position: relative;
    top: inherit !important;
    left: inherit !important;
    right: inherit !important;
    width: 50%;
    margin-bottom: 10px;
    display: inline-block;
  }

  .my_work_projects .project img {
    width: 100%;
  }


  /*****************************************************************************/
  /*
  /* Footer
  /*
  /*****************************************************************************/

  .site-footer {
    width: auto !important;
  }

  .blog_page .site-footer {
    padding: 0px;
    text-align: center;
  }

}

/* Tablets (landscape) ----------- */
@media only screen and (min-device-width : 1024px) and (max-device-width : 1300px) {

  /*****************************************************************************/
  /*
  /* Common
  /*
  /*****************************************************************************/

  /* Page with Left Area */
  .left_area {
    width: 300px !important;
  }

  .left_area .side_menu h2 {
    font-size: 34px;
  }

  .left_area .side_menu li {
    line-height: 1.8em;
    margin-bottom: 15px;
  }

  .padding_left .right_content {
    padding-left: 350px !important;
  }

  /*****************************************************************************/
  /*
  /* Home Page
  /*
  /*****************************************************************************/
  .home_page h1 {
    font-size: 35px !important;
    margin-bottom: 60px; 
  }

  .showcase .titles_cont {
    padding-left: 350px;
    position: absolute;
    top: 50%;
    margin-top: -125px;
  }

  .services .service .right {
    max-width: 600px;
  }


  /*****************************************************************************/
  /*
  /* Services Page
  /*
  /*****************************************************************************/
  .services_page .left_area {
    height: 890px !important;
  }
}