<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div id="main">

    <!-- Content -->
    {{ content }}
    <!-- Content End -->

  </div>

      <script type="text/javascript" src="{{ relative }}js/jquery.smoothState.js"></script>
      <script type="text/javascript">
      $(document).ready(function(){
          $(function(){
          'use strict';
          var options = {
            prefetch: true,
            cacheLength: 2,
            onStart: {
              duration: 750, // Duration of our animation
              render: function ($container) {
                // Add your CSS animation reversing class
                $container.addClass('is-exiting');

                // Restart your animation
                smoothState.restartCSSAnimations();
              }
            },
            onReady: {
              duration: 0,
              render: function ($container, $newContent) {
                // Remove your CSS animation reversing class
                $container.removeClass('is-exiting');

                // Inject the new content
                $container.html($newContent);

                $.readyFn.execute();

              }
            }
          },
          smoothState = $('#main').smoothState(options).data('smoothState');
        });
      });
      </script>

  </body>

</html>
