<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  <div class="blog_inner_page top_header_page">

  <div>

    {% include header.html %}

    <!-- Content -->
    <div class="top_area">
      <h1>{{page.title}}</h1>
      <div class="ie_opacity"></div>
    </div>

    <!-- Content -->
    <div class="content">

      <!-- Centralized -->
      <div class="centralized blog_articles">

        <article>{{ content }}</article>

        <div class="share_buttons">
          <a class="twitter-share-button" href="https://twitter.com/intent/tweet" data-count="none">Tweet</a>
          <div class="fb-share-button" data-href="http://thenordicland.io/" data-layout="button"></div>
        </div>

        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'thenordiclandblog';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
      </div>
      <!-- Centralized End -->

    </div>
    <!-- Content End -->

    <!-- Testimonials -->
    <!--<div class="testimonials">
      <blockquote>Donec lobortis vulputate dolor, ut vehicula libero dictum et. Aliquam elementum, sem nec aliquet eleifend, metus eros pulvinar elit, non molestie tellus massa a tellus. Aenean elementum molestie leo eu accumsan. Duis eleifend rutrum justo sit amet vestibulum.</blockquote>
    </div>-->
    <!-- Testimonials End -->

    <!-- Interested -->
    <!--<div class="interested">
      <h3>Interested in Web Development &amp; CMS?</h3>
      <a href="" class="button purple big">Hire me</a>
    </div>-->
    <!-- Interested End -->

    {% include footer.html %}
  </div>

  </div>

      <script type="text/javascript" src="{{ relative }}js/jquery.smoothState.js"></script>
      <script type="text/javascript">
          //Page transitions
          $(function(){
            'use strict';
            var $page = $('#main'),
                options = {
                  debug: true,
                  prefetch: true,
                  cacheLength: 2,
                  onStart: {
                    duration: 250, // Duration of our animation
                    render: function ($container) {
                      // Add your CSS animation reversing class
                      $container.addClass('is-exiting');
                      // Restart your animation
                      smoothState.restartCSSAnimations();
                    }
                  },
                  onReady: {
                    duration: 0,
                    render: function ($container, $newContent) {
                      // Remove your CSS animation reversing class
                      $container.removeClass('is-exiting');
                      // Inject the new content
                      $container.html($newContent);
                    }
                  }
                },
                smoothState = $page.smoothState(options).data('smoothState');
          });
      </script>

  </body>

</html>
